{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Inicio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet omnis vel? Ipsa dolorem laborum maxime, quasi quae debitis id eum necessitatibus velit voluptates facere distinctio nam non vitae magni.</p>
<div class="text-center">
    <a class="btn btn-dark" href="/signin/">
        Iniciar Sesion
    </a>
    <a class="btn btn-dark" href="/signup/">
        Registrarse
    </a>
</div>
    </section>
</main>
{% endblock %}